*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
/config/config.properties
/fastlane/README.md
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots
/fastlane/test_output
/fastlane/.env.default
/presentation/prod/release/*
fabric.properties